@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benne', serif;
}

body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: color; */
}
#endScreen { 
    background-image: linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: 2s ease-out;
}

button {
    user-select: none;
    cursor: pointer;
}

#mute {
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
}

.game {
    min-height: 90vh;
    height: 100%;
    text-align: center
}

.game h1 {
    font-size: 2.25rem;
    padding: 1rem .5rem 0 .5rem;
    user-select: none;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 0 1rem 1rem 1rem;
}

.bar {
    text-align: center;
}
.bar p {
    text-transform: uppercase;
}

.life-bar,  
.moral-bar,
.force-bar {
    height: 50vh;
    width: 2.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    position: relative;
    text-align: center;
    overflow: hidden;
    background: #0000004d;
}

#lifeBar { background: rgb(35, 179, 35) }
#moralBar { background: rgb(255, 196, 0) }
#forceBar { background: rgb(255, 67, 54) }

#lifeBar,
#moralBar,
#forceBar {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: .4s;
}

.adventure {
    height: 80vh;
    width: 100%;
    max-width: 75rem;
    padding: 15vh 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../img/parchemin.png');
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: center;
    /* overflow-y: scroll; */
}
.adventure img {
    user-select: none;
}

#story {
    font-size: 1.5rem;
    padding: 1.5rem 8rem;
    text-align: center;
    line-height: 2rem;
}

#question {
    font-size: 1.75rem;
    padding: 2rem;
}

#answers button {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
}
#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bar-container {
    display: flex;
}

#restart { 
    font-size: 1.35rem;
    padding: .25rem 1rem;
    transform: scale(0);
    transition: 1s cubic-bezier(0,0,0,.84);
}

.hidden {
    display: none;
}